/* COLORS */
/* #region Custom Grid content */
/* #endregion Custom Grid content */
.daterangepicker .drp-calendar .calendar-table table tbody tr td.disabled {
  color: #f00 !important;
}
.card:not(:last-child) {
  margin-bottom: 5px;
}
.card .card-body {
  padding: 1rem;
}
.card .c-card-title {
  display: inline-block;
  font-size: 16px;
  color: #021844;
  font-weight: 600;
}
@media only screen and (min-width: 992px) {
  .card .c-card-title {
    font-size: 18px;
  }
}
.card .c-small-text-for-cards {
  font-size: 16px;
  color: #053ba7;
}
.card .badge {
  font-size: 14px;
  color: #fff;
  font-weight: 400;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .card .badge {
    min-width: 100px;
  }
}
@media only screen and (min-width: 1200px) {
  .card .badge {
    min-width: 100px;
  }
}
.card .c-custom-table {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: -30px;
  font-size: 14px;
  width: auto !important;
  text-align: center;
}
.card .c-custom-table > table > thead > tr > th:first-child,
.card .c-custom-table > table > tbody > tr > th:first-child,
.card .c-custom-table > table > thead > tr > td:first-child,
.card .c-custom-table > table > tbody > tr > td:first-child {
  padding-left: 1rem;
  text-align: left;
}
.card .c-custom-table > table > thead > tr > td:not(:first-child),
.card .c-custom-table > table > tbody > tr > td:not(:first-child) {
  font-size: 12px;
}
.card .c-hgw-info-table > table > thead > tr > th {
  font-size: 22px;
  color: #021844;
  text-align: center;
  border-top: none;
}
.card .c-hgw-info-table > table > tbody > tr > td {
  font-size: 12px;
}
.card .c-hgw-info-table > table > tbody > tr > td:last-child {
  text-align: right;
}
.c-main-sidebar-wrap {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: auto;
  background-color: #021844;
  color: #fff;
  width: 90px;
}
@media only screen and (min-width: 992px) {
  .c-main-sidebar-wrap {
    display: block;
  }
}
@media only screen and (min-width: 992px) {
  .c-main-content-wrap {
    padding-left: 90px;
  }
}
.c-contract-selection-filters {
  display: none;
}
.c-contract-selection-filters.c-active {
  display: block;
}
.c-custom-viewing-data-table {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 4px 10px;
}
.c-custom-viewing-data-table > table {
  width: auto;
  margin-bottom: 0;
}
.c-custom-viewing-data-table > table > thead > tr > th {
  font-size: 11px;
  border-top: none;
}
.c-custom-viewing-data-table > table > tbody > tr > td {
  font-size: 11px;
}
.c-custom-viewing-data-table > table > tbody > tr > td:last-child {
  padding-left: 4rem;
}
.c-autocomplete-wrapper {
  position: relative;
  display: inline-block;
}
.c-autocomplete-wrapper .c-autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.c-autocomplete-wrapper .c-autocomplete-items > div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.c-autocomplete-wrapper .c-autocomplete-items > div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.c-autocomplete-wrapper .c-autocomplete-items > div.c-autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
#cid-daterange-picker {
  font-size: 12px;
  text-align: center;
}
#cid-hgw-info-toggle-button .fa-angle-up {
  display: none;
}
#cid-hgw-info-toggle-button.active .fa-angle-down {
  display: none;
}
#cid-hgw-info-toggle-button.active .fa-angle-up {
  display: inline;
}
#cid-hgw-info-content-placeholder .c-has-info-cards .card > .card-body {
  font-size: 12px;
  padding: 8px 10px;
}
